
<div class= "form_error">
<% if @garment.errors.any? %>
    <strong>Please correct the following errors: </strong>
    <ul>
        <% @garment.errors.full_messages.each do |e|%>
            <li><%= e %></li>
        <% end %>
    </ul>

<% end %>
</div>


<%= form_with model: @garment, local: true, html: {multipart: true} do |f| %>

    <div class= "garment_form_block">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>


    <div class= "garment_form_block">
    <%= f.label :price %>
    <%= f.text_field :price %>
    </div>


    <div class= "garment_form_block">
    <%= f.label :fabrication %>
    <%= f.text_field :fabrication %>
    </div>


    <div class= "garment_form_block">
    <p>Type in Image URL or upload your graph: </p>
    </div>

    <div class= "garment_form_block">
    <%= f.label :image, 'Image URL' %>
    <%= f.text_field :image %>
    </div>


    <div class= "garment_form_block">
    <%= f.label :image, 'Image Upload' %>
    <%= f.file_field :image %>
    </div>


    <div class= "garment_form_block">
    <%= f.label :brand_id, 'Brand' %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: true %>
    </div>


    <div class= "garment_form_block">
    <p>Occasions: </p>
    <% Occasion.all.each do |item| %>
        <%= check_box_tag 'occasion_ids[]', item.id %>
        <%= item.title %>
        <br>
    <% end %>
    </div>


    <div class= "garment_form_block">
    <%= f.submit %>
    </div>

<% end %>

