
<%= link_to 'Edit', edit_garment_path(@garment.id) %>
|
<%= link_to 'Delete', garment_path(@garment.id), method: 'delete'  %>


<h2>
    <em><%= @garment.name %></em>
</h2>

<% if @garment.brand.present?%>
    <p>
        by
        <strong><%= link_to @garment.brand.name, brand_path(@garment.brand.id) %></strong>
    </p>
<% end %>

<p>
    <strong>Price: </strong>
    $<%= @garment.price %>
</p>

<p>
    <strong>Fabrication: </strong>
    <%= @garment.fabrication %>
</p>

<p>
    <strong>You can wear: </strong>
    <ul>

        <% @garment.occasions.each do |item| %>
            <li>
            <%= link_to item.title, occasion_path(item.id) %>
            </li>
        <% end %>

    </ul>
</p>


<%= image_tag @garment.image, alt: @garment.name, class: 'garment_image' %>
<br><br>



<% @garment.comments.each do |item| %>
    <%= item.content %>
    <br>
<% end %>



<%= form_with model: @comment, local: true do |f| %>

    <%= f.label :content, 'Write a comment' %>
    <br>
    <%= f.text_area :content %>
    <%= f.hidden_field :garment_id, value: @garment.id %>
    <br><br>
    <%= f.submit 'Submit' %>

<% end %>


