
<% if @collocation.errors.any? %>

    <strong>Please correct the following errors: </strong>
    <ul>
        <% @collocation.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>

<% end %>



<%= form_with model: @collocation, local: true do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>

    <%= f.label :introduction %>
    <br>
    <%= f.text_area :introduction, size: "50*5" %>
    <br><br>

    <%= f.label :image, 'Image URL' %>
    <%= f.text_field :image %>
    <br><br>



    <p>More Photos: </p>

    <div id = "collocation_image_link" >
        <button type= "button">
            Add Image
        </button>
    </div>
    <br>

    <% if @collocation.photos.present? %>

        <% @collocation.photos.each do |item| %>
            <%= text_field_tag "photo_links_edit[#{item.id}]", item.image %>
        <% end %>

    <% end %>

    <br>

    <div id = "remove_link" >
    <button type= "button">
        Remove Image
    </button>
    </div>
    <br>




    <p>Must-Haves Items: </p>
    <% Garment.all.each do |item| %>
        <%= check_box_tag 'garment_id[]', item.id %>
        
        <%= link_to item.name, garment_path(item.id) %>
        <br>

        <%= link_to (image_tag item.image, alt: item.name, class: 'garment_image_collocation_form' ), garment_path(item.id)  %>
        <br>
    <% end %>

    <%= f.submit %>

<% end %>






