
<% if @current_user.present? && @collocation.user_id == @current_user.id %>

    <%= link_to 'Edit', edit_collocation_path %>
    |
    <%= link_to 'Delete', collocation_path(@collocation.id), method: 'delete' %>

<% end %>


<h2><em><%= @collocation.title %></em></h2>

<p>
    by
    <%= link_to @collocation.user.name, user_path(@collocation.user) %>
</p>

<p>
    <strong>introduction: </strong>
    <br>
    <%= @collocation.introduction %>
</p>

<p>
    <strong>My Match: </strong>
    <br>
    <%= image_tag @collocation.image, alt: @collocation.title, class: 'collocation_image' %>
</p>


<% if @collocation.photos.present? %>
    <p> 
        <strong>More Photos: </strong>
        <br>
        <% @collocation.photos.each do |item| %>
            <%= image_tag item.image, alt: "#{item.id}", class: 'collocation_image' %>
        <% end %>
    </p>
<% end %>




<p>
    <strong>Must-Haves Items: </strong>
    <br>
    <ul>

        <% @collocation.garments.each do |item|  %>
            <li>
                <%= link_to (image_tag item.image, alt: item.name, class: 'garment_iamge_collocation'), garment_path(item.id) %>
                <br>

                <%= link_to item.name, garment_path(item.id) %>            
            </li>
            <br>
        <% end %>
    
    </ul>
</p>





