
<div class= "user_new_title">
<h2>Edit Your Account</h2>
</div>


<div class= "form_error">
<% if @current_user.errors.any? %>
    <strong>Please correct the following errors: </strong>
    <ul>
        <% @current_user.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>

<% end %>
</div>


<%= form_with model: @current_user, local: true do |f| %>

    <div class= "user_form_block">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    </div>


    <div class= "user_form_block">
    <%= f.submit %>
    </div>


<% end %>



