
<div class= "index_first_link">
<% if @current_user.present? && @user.id == @current_user.id %>

    <%= link_to 'Edit', edit_user_path %>
    /
    <%= link_to 'Delete', user_path(@user.id), method: 'delete' %>
</div>


<div class= "index_title">
    <h2>Welcome, <em><%= @user.name %></em></h2>
</div>


<div class= "user_show_block">
    <p>
        <strong>Your Login Email: </strong>
        <br>
        <%= @user.email %>
    </p>
</div>

<% else %>

<div class= "index_title">
    <h2><em><%= @user.name %></em></h2>
</div>

<% end %>


<div class= "user_show_block">
<p>
    <% if @current_user.present? && @user.id == @current_user.id %>
        <strong>Your Posts: </strong>
    <% else %>
        <strong> <%= @user.name %>'s Posts: </strong>
    <% end %>
    <br>
    <ul>
        <% @user.collocations.each do |item| %>
            <li>
                <%= link_to item.title, collocation_path(item) %>
            </li>
        <% end %>
    </ul>
</p>
</div>


<div class= "user_show_block">
<p>
    <% if @current_user.present? && @user.id == @current_user.id %>
        <strong>Your Likes: </strong>
    <% else %>
        <strong> <%= @user.name %>'s Likes: </strong>
    <% end %>
    <br>
    <ul>
        <% @user.like_garments.each do |item| %>
            <li>
                <%= link_to item.name, garment_path(item) %>
            </li>
        <% end %>
    </ul>
</p>
</div>


