
<div class= "form_error">
<% if @occasion.errors.any? %>

    <strong>Please correct the following errors: </strong>
    <ul>
        <% @occasion.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>

<% end %>
</div>


<%= form_with model: @occasion, local: true do |f| %>

    <div class= "garment_form_block">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>

    <div class= "garment_form_block">
    <%= f.submit %>
    </div>

<% end %>

