
<div class= "index_first_link">
<%= link_to 'Edit', edit_brand_path %>
/
<%= link_to 'Delete', brand_path(@brand.id), method: 'delete' %>
</div>


<div class= "index_title">
<h2>
    <em><%= @brand.name %></em>
</h2>
</div>


<div class= "brand_show_line">
<p>
    <strong>Founded: </strong>
    <%= @brand.country %>
</p>
</div>


<div class= "brand_show_line">
<p>
    <strong>Our Aim: </strong>
    <br>
    <%= @brand.introduction %>
</p>
</div>


<div class= "brand_show_line">
<p>
    <strong>We provide options: </strong>
    <ul>
        <% @brand.occasion.each do |item| %>
            <li>
                <%= link_to item.title, occasion_path(item.id) %>            
            </li>
        <% end %>
    
    </ul>
</p>
</div>


<div class= "brand_show_line">
<p><strong>Our Products:</strong></p>
</div>


<div class= "brand_show_image_block">
    <% @brand.garments.each do |item| %>

        <div class= "brand_show_image">
            <%= link_to (cl_image_tag item.image, alt: item.name, class: 'garment_image_brand'),  garment_path(item.id)%>
            <br>
            
            <%= link_to item.name, garment_path(item.id)  %>
        </div>

    <% end %>
</div>






