<!DOCTYPE html>
<html>
  <head>
    <title>Garment App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>

  <nav>

    <div class="link_first_line">
    <% if @current_user.present? %>
      <div class= "link_first_block">
      Welcome, <%= @current_user.name %>
      </div>
      <br>

      <div class= "link_first_block">
      <%= link_to 'My Account', user_path(@current_user.id) %>
      </div>
      
      <div class= "link_first_block">/</div>
      
      <div class= "link_first_block">
        <%= link_to 'Logout', login_path, method: 'delete' %>      
      </div>
  
    <% else %>
      <div class= "link_first_block">
      <%= link_to 'Login', login_path %>
      </div>

      <div class= "link_first_block">/</div>

      <div class= "link_first_block">
      <%= link_to 'Sign Up', new_user_path %>
      </div>
      
    <% end %>
    </div>


    <div class= "fist_title">
      <h1>Get Up & Dress Up</h1>
    </div>
  
    <div class= "link_second_line">
      <div class= "link_second_line_block">
        <%= link_to 'Home', root_path %>
      </div>

      <div class= "link_second_line_block">
        <%= link_to 'Garments', garments_path, class: "homelink" %>
      </div>

      <div class= "link_second_line_block">
        <%= link_to 'Brands', brands_path, class: "homelink" %>
      </div>

      <div class= "link_second_line_block">
        <%= link_to 'Occasions', occasions_path, class: "homelink" %>
      </div>

      <div class= "link_second_line_block">
        <%= link_to 'Combos', collocations_path, class: "homelink" %>
      </div>
      
      <div class= "link_second_line_block">
        <%= link_to 'All Users', users_path, class: "homelink" %>
      </div>
    </div>

    <br>


    <div class= "search_line">
      <%= form_with url: search_path, local: true, role:"search", method: "get" do |f| %>
          <%= f.text_field :search, placeholder: "name or brand or occasions", size: "50*30", class: "search_line_text" %>
          <%= f.submit 'Search', class: "search_line_btn" %>
      <% end %>
    </div>


  </nav>
    


    
    <div class= "yield_section">

    <div class= "hr"></div>
      <%= yield %>
    </div>


    <footer>
    <div class= "footer_section">
    &copy; Lei's Week6 Project 1, Aug 2022
    </div>
    </footer>









  </body>
</html>
