<!DOCTYPE html>
<html>
  <head>
    <title>Garment App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <nav>
    <h1>Get Up & Dress Up</h1>

    <%= link_to 'Home', root_path %>
    |
    <%= link_to 'All Garments', garments_path %>
    |
    <%= link_to 'Add Garments', new_garment_path %>
    <br>

    <%= link_to 'All Brands', brands_path %>
    |
    <%= link_to 'Add Brands', new_brand_path %>
    <br>

    <%= link_to 'All Occasions', occasions_path %>
    |
    <%= link_to 'Add Occasions', new_occasion_path %>
    <br>

    <%= link_to 'All Matches', collocations_path %>
    |
    <% if @current_user.present? %>
      <%= link_to 'Add your Match', new_collocation_path %>
    <% end %>
    <br>

    <%= link_to 'All Users', users_path %>
    <br>
    
    <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>
      |
      <%= link_to 'Logout', login_path, method: 'delete' %>
      |
    <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>


    <hr>
  </nav>

    <%= yield %>

    <footer>
    <hr>
    &copy; Lei's Week6 Project 1, Aug 2022
    
    
    </footer>









  </body>
</html>
